.virtual_documents/week_4/prac.ipynb
week_4/gradcam_comparison.png
week_4/curves.png
week_4/cf_mtrix.png
week_4/prac.ipynb
week_4/1.jpg
week_4/2.jpg
week_4/34.jpg
week_4/prac.ipynb
week_4/3.jpg
week_4/prac.ipynb
week_4/prac.ipynb
